SMTP_HOST=mail.hover.com
SMTP_PORT=465
SMTP_USER=info@timeto.show
SMTP_PASS=
CONTACT_TO=info@timeto.show
CONTACT_FROM=info@timeto.show
CONTACT_FROM_NAME=timeto.show
CONTACT_SUBJECT_PREFIX=Спектакль "Ложитесь, господин президент!" — przdnt.com
